@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  font-family: "Raleway", sans-serif;
}

img {
  max-width: 100%;
}

html, body {
  height: 100;
}

body {

  background-color: #151515;
}

.wrapper {
  position: relative;
  text-align: center;
}
.wrapper .header {
  position: relative;
  color: #fff;
  text-align: center;
  font-size: 2.6em;
  letter-spacing: 0.05em;
  font-weight: 100;
  top: 30px;
}
.wrapper .tabs {
  position: relative;
  display: inline-block;
  border: 2px solid #ffffff;
  top: 50px;
  padding: 10px;
  border-radius: 20px;
}
.wrapper .tabs ul li {
  display: inline-block;
  text-align: center;
  top: 50px;
  padding: 0 10px;
}
.wrapper .tabs ul li a {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  transition: 250ms;
}
.wrapper .tabs ul li a:hover {
  color: #2762c1;
  border-bottom: 1px solid #2762c1;
  transition: 250ms;
}
.wrapper .wrap {
  max-width: 400px;
  position: relative;
  background: #fff;
  color: #fff;
  margin: 80px auto;
  border-radius: 20px;
  box-shadow: 0px 0px 80px 1px #050a1e;
}
.wrapper .wrap .header-bg {
  min-height: 300px;
  background: url("card.jpg") no-repeat center;
  background-size: cover;
  border-radius: 10px 10px 0 0;
}
.wrapper .wrap .users {
  display: none;
  position: absolute;
  margin-left: 15px;
  margin-top: 10px;
}
.wrapper .wrap .users ul li {
  display: inline-block;
  margin-left: -3px;
}
.wrapper .wrap .users ul li img {
  width: 30px;
  border-radius: 100%;
  border: 2px solid #fff;
}
.wrapper .wrap a i.fa-heart-o {
  position: relative;
  color: #fff;
  font-size: 2em;
  text-align: right;
  top: 15px;
  right: 15px;
  float: right;
}
.wrapper .wrap .title {
  position: absolute;
  text-align: left;
  margin-left: 25px;
  margin-top: 250px;
}
.wrapper .wrap span {
  position: absolute;
  margin-left: 165px;
  margin-top: 278px;
  color: #2762c1;
}
.wrapper .wrap span:hover {
  transition: 100ms;
}
.wrapper .wrap .info {
  position: relative;
}
.wrapper .wrap .info .main-title {
  color: #2762c1;
  font-size: 1em;
  text-align: left;
  margin: 15px 25px;
}
.wrapper .wrap .info .description {
  color: #050a1e;
  font-weight: normal;
  text-align: left;
  margin: 0 25px;
}
.wrapper .wrap .info .steps li {
  color: #aaacaf;
  display: inline-block;
  margin: 20px 25px;
}
