
.circle-action-btn {
  background-color: #0053FF;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0px 2px 5px #888888;
  -webkit-animation: button-jump 2s infinite;
          animation: button-jump 2s infinite;
  cursor: pointer;
}
.circle-action-btn__icon {
  color: white;
  font-size: 1.8em;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-animation: hand-shake 2s infinite;
          animation: hand-shake 2s infinite;
}

@-webkit-keyframes hand-shake {
  0% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  25% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  75% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@keyframes hand-shake {
  0% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  25% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  75% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}
@-webkit-keyframes button-jump {
  0% {
    box-shadow: 0px 2px 5px #888888;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    box-shadow: 0px 6px 10px #888888;
  }
}
@keyframes button-jump {
  0% {
    box-shadow: 0px 2px 5px #888888;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    box-shadow: 0px 6px 10px #888888;
  }
}

a:hover + div {
    display: block;
}